<div class="container my-5">
    <h2>Update Category</h2>

    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Category Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="category_name">
            </div>
        </div>

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" [disabled]="!reactiveForm.valid" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" routerLink="/admin/categories/categories" role="button"> Cancel</a>
            </div>
        </div>
    </form>
</div>