<div class="container my-5">
    <h2>Update Category</h2>

    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Category Name</label>
            <div class="col-sm-6">
                <div *ngIf="hasError" class='alert alert-warning alert-dismissible fade show' role='alert'>
                    <strong *ngFor="let messages of errorMessages"> {{ messages }}</strong>
                    <button (click)="closeMessage()" type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
                <input type="text" class="form-control" name="category_name" formControlName="category_name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" [disabled]="!reactiveForm.valid" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" routerLink="/admin/categories/categories" role="button"> Cancel</a>
            </div>
        </div>
    </form>
</div>