<section id="about">
	<div class="title">
  	<p> ABOUT</p>
	<h1>Know More About The Library</h1>
	</div> 
	<div class="about-box">
		<div class="single-about">
			<img src="assets/images/pic1.jpg">
			<div class="overlay"></div>
			<div class="about-desc">
			     <h2>READING</h2>
			     <hr>
			     <p> You can read more books in this j-library in a pdf file for free, it comes with different genres: academic, romance, fantasy, suspense, and horror.
			</div>
		</div>
		<div class="single-about">
			<img src="assets/images/pic2.jpg">
			<div class="overlay"></div>
			<div class="about-desc">
			     <h2>LEARNING</h2>
			     <hr>
			     <p> Through reading books in the j-lib, you can also learn life lessons and experiences. It will help you grow as an individual, this website offers so much more than you expect.
			</div>
		</div>
		<div class="single-about">
			<img src="assets/images/pic3.jpg">
			<div class="overlay"></div>
			<div class="about-desc">
			     <h2>EXPLORING</h2>
			     <hr>
			     <p> By reading, you can explore in your imagination. It will help your mind in critical thinking and creative aspects of life. So what are you waiting for? Explore j-lib now!! 
			</div>
		</div>
		<div class="single-about">
			<img src="assets/images/pic4.jpg">
			<div class="overlay"></div>
			<div class="about-desc">
			     <h2>SHARING</h2>
			     <hr>
			     <p> You can also share this website to your friends, family, and loved ones. By sharing this you are giving them new knowlege and excitement. So keep sharing and enjoy!!  
			</div>
		</div>
	</div>

</section>
