<section id="developer">
	<div class="header">
  	<p> DEVELOPER</p>
	<h1>Facts About The Developer</h1>
	</div> 
	<div class="developer-row">
	     <div class="developer-col">
 		  <p>Her name is Jasmine S. Dalaguit, she's taking up Bachelor of Science in Computer Engineering at Cebu Technological University Danao Campus.</p>
	     </div>
	     <div class="developer-col">
		  <p>A 21 year old woman, who dreams to be a life doctor but gets to find bugs instead. So she just thought that maybe, just maybe, in another life. </p>
	     </div>
	     <div class="developer-col">
		  <p> She is now in her 3rd year of college, however, felt so lost, still keeps going with the flow of how life would turn out to be.  </p>
	     </div>
	     <div class="developer-col">
		  <p>Can sing and dance but not too good. Can write a poem but loses inspiration. Can think out loud yet never heard. Char أ‿أ</p>
	     </div>
	     <div class="developer-col">
		  <p>Fascinated about serial killer documentaries, investigatory movies and books, and all suspense thrill genre. </p>
	     </div>
	     <div class="developer-col">
		  <p>Loves raisins. Hates macaroni. Loves black pepper on any dish. Hates gumbo. Loves nori, pasta, and chicken. </p>
	     </div>
	</div>
</section>