
<div class="container my-4">
    <h1>SIGN UP</h1>
    <a class="btn btn-primary" routerLink="" role="button">Back to Homepage</a>
    <a style="margin-left: 75%" class="btn btn-primary" routerLink="/auth/login" role="button">Login</a>
    <div class="form">
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
            <div class="input-element">
                <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="First Name">
            </div>
                <div class="input-element">
                <input type="text" class="form-control" name="lastname" formControlName="lastname" placeholder="Last Name">
            </div>
            <div class="input-element">
                <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email">
            </div>
            <div class="input-element">
                <input type="text" class="form-control" name="username" formControlName="username" placeholder="Username">
            </div>
            <div class="input-element">
                <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
            </div>
            <div class="container" style="background-color:#f1f1f1">
            </div>
            <div class="input-element">
                <input type="submit" value="Sign Up" name="submit" [disabled]="!reactiveForm.valid" class="form-control btn btn-warning">
            </div>
            <!-- <div class='row mb-3'>
                <div class='offset-sm-3 col-sm-6'>
                    <div class='alert alert-success alert-dismissible fade show' role='alert'>
                        <strong>You are now signed up!</strong>
                        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                    </div>
                </div>
            </div> -->
        </form>
    </div>