<section id="inquiry">
    <div class="title-text">
    <p> INQUIRIES</p>
    <h1>What Seems To Be The Problem?</h1>
    </div> 
    <div class="inquiries-box">
        <div class="inquiries">
            <h1> Downloadable Application</h1>
            <div class="inquiries-desc">
                <div class="inquiries-icon">
                    <i class="fa fa-download"></i> 
                </div>
                <div class="inquiries-text">
                    <p> As of the moment, there is no downloadable application 
                        for this website. The developer is still working on it.
                        We will let you know if it's available.</p>
                </div>
            </div>
            <h1> Sign Up Feature</h1>
            <div class="inquiries-desc">
                <div class="inquiries-icon">
                    <a routerLink="/auth/signup"> <i class="fa fa-sign-in"></i> </a>
                </div>
                <div class="inquiries-text">
                    <p> Finally! Sign up feature is already available.
                        Click the icon to sign up or go to homepage and click the sign up button 
                        to be able to add your books in J-LIB. </p>
                </div>
            </div>
            <h1> Technical Error</h1>
            <div class="inquiries-desc">
                <div class="inquiries-icon">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
                </div>
                <div class="inquiries-text">
                    <p> Technical errors may occur from time to time. The developer is still working on it. We will let you know if it's finished.</p>
                </div>
            </div>
        </div>
        <div class="inquiries-img">
            <img src="assets/images/apps.jpg"> 
            <div class="overlays"></div>
        </div>
    </div>
</section>