<section id="contacts">
	<div class="headers">
  	<p> CONTACTS</p>
	<h1>Message Us Today</h1>
	</div> 
		<div class="contacts-center">
			<h1> Get In Touch</h1>
			<p><i class="fa fa-map-marker"></i> Tulay, Guinsay, Danao City, Cebu</p>
			<p><i class="fa fa-phone"></i> 0935-991-3744</p>
		</div>
		<div class="social-links">
			<i class="fa fa-envelope"></i>
			<i class="fa fa-facebook"></i>
			<i class="fa fa-instagram"></i>
			<i class="fa fa-youtube-play"></i>
			<p> Copyright The Library: J-Lib</p>
		</div>
</section>